<div class="col">
  <div class="badge-item" data-toggle="tooltip" title="<%= "\"#{reward.title}\" #{badge_text_rule(reward)}" %>">
    <%= image_tag reward.image_path, class: 'img-fluid' %>
  </div>
</div>
