<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <div class="row">
      <div class="col-sm">Бейджи</div>
      <div class="col-sm ">
        <button type="button" class="btn btn-light btn-sm float-right sidebar-toggle">Закрыть</button>
      </div>
    </div>
  </div>

  <div class="sidebar-content">
    <div class="badges-collection ml-3 mr-2">
      <div class="row mb-2 row-cols-3">
        <%= render_badges %>
      </div>
    </div>
  </div>
</div>
<!-- /#sidebar-wrapper -->
