.sticky-footer {
    position: absolute;
    bottom: 0;
    height:25px;
}

.body {
	padding-bottom:25px;
}

.admin-nav {
	background-color: #ffe282;
}

.pointer {
	cursor: pointer;
}

.hide {
	display: none;
}

.green-icon {
	fill: #28a745;
}

.red-icon {
	fill: #bf0000;
}

.badge-gen {
	opacity: 0.2;
}

.badge-item {
	display: inline-block; /* keeps the img with the badge if the img is forced to a new line */
    position: relative;
    margin-bottom: 5px;
}

.badge-on-image {
    position: absolute;
    top: 2px; /* position where you want it */
    right: 2px;
    padding: 3px 6px;
    font-size: 1em;    
}