.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.admin-nav {
	background-color: #ffe282;
}

.pointer {
	cursor: pointer;
}

.hide {
	display: none;
}

.green-icon {
	fill: #28a745;
}

.red-icon {
	fill: #bf0000;
}