.sticky-footer {
    position: absolute;
    bottom: 0;
    height:25px;
}

.body {
	padding-bottom:25px;
}

.admin-nav {
	background-color: #ffe282;
}

.pointer {
	cursor: pointer;
}

.hide {
	display: none;
}

.green-icon {
	fill: #28a745;
}

.red-icon {
	fill: #bf0000;
}