<p>
<%= current_year %> Alex Govorov,
<%= github_url 'TestGuru', 'https://github.com/Alex-Govorov/TestGuru'%></br>
Система управления онлайн-тестированием
<%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/' %>
</p>
